.ContactSection .container {
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 3rem;
    width: min(90%, 680px);
}

.ContactSection .contact-text {
    text-align: center;
}

.ContactSection.dark {
    background: var(--black-clr);
    color: white;
    padding-top: 3rem;
}
