.ReviewCard {
    text-align: center;
    padding-block: 2rem;
    width: min(90%, 500px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    height: 450px;
}

.ReviewCard .quote-icon {
    font-size: 2.5rem;
    color: #4494C7;
    display: none;
}

.ReviewCard .text-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ReviewCard .text {
    font-style: italic;
}

.ReviewCard .text-div .contact {
    text-decoration: underline;
    font-style: inherit;
    cursor: pointer;
    padding: .5rem;
    color: #fff;
}

.ReviewCard .person-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
}

.ReviewCard .quote-img-wrapper {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #4494C7;
}

.ReviewCard .quote-img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.ReviewCard .name,
.ReviewCard .company {
    font-size: .8rem;
}

.ReviewCard .name {
    font-weight: bold;
}

.ReviewCard .view-link {
    color: #fff;
    font-style: italic;
}

.ReviewCard .view-icon {
    width: 20px;
    height: 20px;
}


@media(min-width: 768px) {
    .ReviewCard .quote-icon {
        display: inline;
    }

    .ReviewCard  {
        justify-content: space-between;
    }
}