.ServiceInfoSection {
    background: var(--black-clr);
    color: #fff;
    padding-block: 3rem;
    width: 100%;
}

.ServiceInfoSection .container {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.ServiceInfoSection .text-box {
    gap: 1rem;
}

.ServiceInfoSection .text {
    display: none;
}

@media(min-width: 768px) {
    .ServiceInfoSection .text-box {
        flex: 1;
    }

    .ServiceInfoSection .text {
        display: inline;
        flex: 1;
    }

    .ServiceInfoSection .mobile-text {
        display: none;
    }
}