.Menu {
    align-self: flex-end;
    position: fixed;
    background: var(--black-clr);
    box-shadow: -32px 0px 35px -27px rgba(0,0,0,0.45);
    height: 100vh;
    right: 0;
    top: 0;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
}

.Menu ul {
    list-style: none;
    gap: 1rem;
    width: min(100%, 250px);
}

.Menu ul li {
    color: white;
    cursor: pointer;
    padding: .5rem;
    text-align: center;

    transition: all 250ms;
}

.Menu .home {
    margin-right: .5rem;
}

.Menu ul li:hover {
    background: var(--orange-clr);
}

.Menu ul li:active {
    color: var(--orange-clr);
}

.Menu .line {
    height: 1px;
    background: var(--blue-clr);
    margin-block: 1rem;
    width: min(100%, 250px);
}