.ServiceCard {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
.ServiceCard .img-container {
    height: 500px;
    overflow: hidden; 
    position: relative;
}
  
.ServiceCard .background-img {
    height: 100%;
    object-fit: cover; 
    width: 100%;
}

.ServiceCard .text-content {
    background: rgba(0, 0, 0, 0.430);
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    left: 50%;
    overflow-wrap: break-word;
    padding: 20px;
    position: absolute;
    top: 50%;
    text-align: start;
    transform: translate(-50%, -50%);
    width: 100%;

    transition: all ease-in-out 250ms;
}

.ServiceCard .text-content:hover {
    background: rgba(0, 0, 0, 0.266);
}

.ServiceCard .text-content h1 {
    /* ÄNDRA TILL SAMMA SOM KONTAKT OCH ABOUT? */
    font-size: clamp(1.5rem, 6vw, 3rem); 
}

.ServiceCard .link-wrapper {
    margin-top: .5rem;
}

.ServiceCard .link {
    color: #fff;
    display: inline-block;
    position: relative;
}

.ServiceCard .link:hover {
    color: var(--blue-clr);
}

.ServiceCard .link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    background-color: var(--blue-clr);
}

