.DetailsBar {
    width: 100%;
}

.DetailsBar .contact-info-wrapper {
    gap: 1rem;
}

.DetailsBar .blue-line {
    border-bottom: 2px solid var(--blue-clr);
}

.DetailsBar .contact-wrap {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;
}

.DetailsBar .location {
    color: var(--black-clr);
    font-weight: 500;
}

.DetailsBar .contact-icon {
    align-items: center;
    color: var(--black-clr);
    display: flex;
    gap: .7rem;
}

.DetailsBar .contact-info-icon {
    color: var(--blue-clr);
    height: 20px;
    width: 20px;
}
