.PageHero {
    border-bottom: 4px solid var(--blue-clr);
    height: calc(100vh + 4px);
}

.PageHero .img-wrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.PageHero .overlay {
    background: rgba(0, 0, 0, 0.458);
    inset: 0;
    position: absolute;
}

.PageHero .header-box {
    align-items: center;
    color: white;
}

.PageHero .long-arrow-down {
    background-color: #F5F4F0;
    display: block;
    height: 140px;
    left: 0;
    top: 0;
    width: 2px;
}

.PageHero .arrow-wrapper {
    animation: bounce 1.5s; 
    animation-delay: .8s;
    animation-iteration-count: 3;
    bottom: 0;
    color: #fff;
    gap: 1rem;
    position: absolute;
}

@keyframes bounce {
    0% { 
        transform: translateY(0); 
    } 
    50% { 
        transform: translateY(20px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
}


