.InputSuccess {
    padding-block: 3rem;
}

.InputSuccess .emailCheck {
    color: var(--blue-clr);
    height: 70px;
    width: 70px;
}

.InputSuccess .success-text {
    text-align: center;
}

.InputSuccess .success-contact-wrap {
    margin-top: 1rem;
    text-align: center;
}

.InputSuccess .success-contact-icons {
    flex-wrap: wrap;
    gap: 1rem;
}

.InputSuccess .location {
    color: var(--black-clr);
    font-weight: 500;
    margin-bottom: 1rem;
}

.InputSuccess .contact-icon {
    align-items: center;
    color: var(--black-clr);
    display: flex;
    gap: .5rem;
}

.InputSuccess .contact-info-icon {
    color: var(--blue-clr);
    height: 20px;
    width: 20px;
}

.InputSuccess .blue-line {
    border-bottom: 2px solid var(--blue-clr);
    margin-top: 1rem;
    width: 100%;
}