.Taksakerhet .safety-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Taksakerhet .safety-section h2 {
    padding-bottom: 2rem;
}

.Taksakerhet .safety-card {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
}

.Taksakerhet .safety-icon {
    width: 30px;
    height: 30px;
}

.Taksakerhet .safety-video-section {
    display: flex;
    flex-direction: column-reverse;
}

.Taksakerhet .safety-text {
    background-color: var(--dark-blue-clr);
    color: #fff;
    flex: 1;
    gap: 2rem;
    height: 100vh;
    justify-content: center;
    padding-block: 2rem;
    width: 100%;
}

.Taksakerhet .video-wrapper, .mobile-img {
    flex: 1;
}

.Taksakerhet .safety-video {
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.Taksakerhet .images-wrapper {
    display: flex;
    height: 70vh;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
}

.Taksakerhet .images-wrapper img {
    height: 100%;
    width: calc(100% / 3);
    object-fit: cover;
    object-position: bottom;
}

.Taksakerhet .slider-text p {
    max-width: 700px;
    padding-bottom: 1rem;
}

.Taksakerhet .line-div {
    margin: 0 auto;
    width: min(90%, 1500px);
}

.Taksakerhet .line1 {
    display: none;
}

.Taksakerhet .line1,
.Taksakerhet .line2 {
    background: var(--blue-clr);
    height: 3px;
    flex: 1;
    margin-block: .5rem;
}

@media(min-width: 768px) {
    
    .Taksakerhet .safety-video-section {
       flex-direction: row;
   }

   .Taksakerhet .safety-card-wrapper {
        flex-direction: row;
        gap: 2rem;
    }

    .Taksakerhet .slider-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Taksakerhet .slider-text p {
        text-align: center;
    }

    .Taksakerhet .line1 {
        display: inline-block;
    }

    .Taksakerhet .slider-text .sub-header {
        text-align: center;
    }

    .Taksakerhet .line-div {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}