.Taksakerhet {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.Taksakerhet .safety-text {
    background-color: var(--dark-blue-clr);
    color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
    height: 100vh;
    justify-content: center;
    width: 100%;
    padding-block: 2rem;
}

.Taksakerhet .safety-video-section {
    display: flex;
    flex-direction: column-reverse;
}

.Taksakerhet .video-wrapper {
    flex: 1;
}

.Taksakerhet .mobile-img {
    flex: 1;
}
.Taksakerhet .mobile-img img {
    width: 100%;
    height: 100%;
}

.Taksakerhet .safety-video {
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.Taksakerhet .safety-img {
    width: 100%;
    height: 100%;
}

.Taksakerhet .safety-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Taksakerhet .safety-section h2 {
    padding-bottom: 2rem;
}

.Taksakerhet .safety-card {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
}

.Taksakerhet .safety-icon {
    width: 30px;
    height: 30px;
}

.Taksakerhet .safety-img {
    height: 70vh;
    object-fit: contain;
}

.Taksakerhet .safety-img img {
    width: 100%;
    height: 100%;
}

@media(min-width: 768px) {
    
    .Taksakerhet .safety-video-section {
       flex-direction: row;
   }

   .Taksakerhet .safety-card-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
}