.Navbar {
    position: absolute;
    width: 100%;
}

.Navbar .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-block: 1rem;
}

.Navbar .logo-box {
    z-index: 1;
    height: 30px;
}

.Navbar .logo-box img {
    height: 100%;
}

.Navbar .burger {
    cursor: pointer;
    flex-wrap: wrap;
    height: 45px;
    justify-content: space-between;
    overflow: hidden;
    padding: 10px;
    width: 50px;
    z-index: 2;
}

.Navbar .burger span {
    background: var(--orange-clr);
    height: 3px;
    transition: all 250ms;
    width: 100%;
}

.Navbar .burger.open span {
    background: white;
}

.Navbar .burger.open span:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
    width: 2.2rem;
}

.Navbar .burger.open span:nth-child(2) {
    opacity: 0;
}

.Navbar .burger.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
    width: 2.2rem;
}