.Contact .img-wrapper {
    height: 50vh;
    position: relative;
    width: 100%;
}

.Contact .img-wrapper img {
    object-position: center 50%;
}

.Contact .overlay {
    background: rgba(0, 0, 0, 0.458);
    inset: 0;
    position: absolute;
}
