.About .img-wrapper {
    height: 50vh;
    position: relative;
    width: 100%;
}

.About .img-wrapper img {
    object-position: center 25%;
}

.About .overlay {
    background: rgba(0, 0, 0, 0.458);
    inset: 0;
    position: absolute;
}

.About .info-section {
    background: var(--black-clr);
    color: #fff;
    padding-block: 2.5rem 3.5rem;
}

.About .about-header {
    padding-bottom: 1rem;
}

.About .card-section {
    padding-block: 3rem;
}

.About .card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 3rem;
    margin-top: 1.5rem;
}
