.InfoBox {
    border-block: 2px solid var(--blue-clr);
    padding-block: 1.5rem;
}

.InfoBox .icon {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

@media(min-width: 768px) {
    .InfoBox .container {
        width: 100%;
    }
}

@media(max-width: 768px) {
    .InfoBox:nth-child(2),
    .InfoBox:nth-child(3){
        border-top: none;
    }
}