.Solel {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.Solel .montage-img-wrapper {
    height: 70vh;
    width: 100%;
}

.Solel .montage-img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 75% 20%;
}

.Solel .winter-info-wrapper {
    display: flex;
    flex-direction: column;
}

.Solel .winter-img-wrapper {
    flex: 1;
}

.Solel .winter-img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Solel .winter-info {
    background: var(--dark-blue-clr);
    color: white;
    flex: 1;
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(min-width: 768px) {
    .Solel .info-box-wrapper {
        display: flex;
        gap: 2rem;
        margin: 0 auto;
        width: min(90%, 1500px);
    }

    .Solel .winter-info-wrapper {
        flex-direction: row-reverse;
    }
}