.Solel .montage-img-wrapper {
    height: 70vh;
    width: 100%;
}

.Solel .montage-img-wrapper img {
    object-position: 100% 20%;
}

.Solel .winter-info-wrapper {
    display: flex;
    flex-direction: column;
}

.Solel .winter-img-wrapper {
    flex: 1;
}

.Solel .winter-info {
    background: var(--dark-blue-clr);
    color: white;
    flex: 1;
    justify-content: center;
    padding-block: 3rem;
}

@media(min-width: 768px) {
    .Solel .info-box-wrapper {
        display: flex;
        gap: 2rem;
        margin: 0 auto;
        width: min(90%, 1500px);
    }

    .Solel .winter-info-wrapper {
        flex-direction: row-reverse;
    }
}