.StaffCard img {
    object-position: top;
    border-bottom: 5px solid var(--blue-clr);
}

.StaffCard .staff-imgwrapper {
    height: 400px;
    margin-bottom: 1rem;
}

.StaffCard .staffTxt {
    gap: .5rem;
}
